body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #111827;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.login-box h2 {
    color: white;
}

.login-box input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}
